<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.min.css') }}">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	</body>

</html>
